* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
  font-size: inherit;
  font-family: inherit;
}

.canvas-wrapper {
  display: flex;
}
@media (max-width: 968px) {
  .canvas-wrapper {
    overflow-x: scroll;
  }
}

input#menu-open {
  display: none;
}

input#menu-open:checked ~ .menu {
  transform: translate(100%, -50%);
}
input#menu-open:checked ~ .menu label.menu-open img {
  transform: rotate(270deg);
}

.menu {
  position: fixed;
  right: 0;
  top: 50vh;
  transform: translate(0, -50%);
  font-size: 1.8vh;
  padding: 1vh;
  border: 1px solid rgb(7, 11, 255);
  border-right: 0;
  background-color: white;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
}
.menu::before {
  content: "";
  width: 0.5vh;
  height: 4vh;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: white;
}
.menu label.menu-open {
  box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  background-color: white;
  border: 1px solid rgb(7, 11, 255);
  border-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.5vh;
  border-top-left-radius: 0.5vh;
}
.menu label.menu-open:hover {
  cursor: pointer;
}
.menu label.menu-open img {
  width: 4vh;
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.menu .buttons {
  display: flex;
  flex-direction: column;
}
.menu .buttons .set-threshold {
  width: fit-content;
}
.menu .buttons .to-title {
  text-decoration: none;
  color: rgb(7, 11, 255);
  font-weight: bold;
  text-align: center;
  margin: 1vh 0;
}
@media (min-width: 968px) {
  .menu .buttons .to-title:hover {
    text-decoration: underline;
  }
}
.menu .buttons .download-wrapper {
  display: flex;
  align-self: center;
  width: fit-content;
  padding: 0 0.5vh;
}
.menu .buttons .download-wrapper img {
  width: 3vh;
  margin-right: 0.5vh;
}
.menu .buttons .download-wrapper p {
  margin: 0.5vh;
}
@media (min-width: 968px) {
  .menu .buttons .download-wrapper:hover {
    box-shadow: 3px 0px 0px -1px rgb(7, 11, 255), -3px 0px 0px -1px rgb(7, 11, 255);
  }
}
.menu .buttons .flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.menu .buttons .fit {
  margin: 0.75vh 0;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  padding: 0.5vh;
  border-radius: 4px;
  box-shadow: 0px 2px 0px -1px rgb(7, 11, 255);
}
@media (min-width: 968px) {
  .menu .buttons .fit:hover {
    box-shadow: 0px 3px 0px -1px rgb(7, 11, 255);
  }
}

section.section {
  max-width: 60rem;
  margin: 4rem auto;
  padding: 0 1rem;
}
section.section > h1 {
  text-align: center;
}
section.section ol a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
@media (min-width: 968px) {
  section.section ol a:hover {
    text-decoration: underline;
  }
}
section.section ol li {
  margin: 0.5rem 0;
}
section.section .applications .img-comparison {
  display: flex;
}
section.section .applications .img-comparison img {
  width: 50%;
}
section.section .how-to-use ul li {
  font-weight: bold;
}

/*# sourceMappingURL=binarization.css.map */
