* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

input {
    font-size: inherit;
    font-family: inherit;
}

.canvas-wrapper {
    display: flex;

    canvas {}
}

input#menu-open {
    display: none;
}

input#menu-open:checked ~ .menu {
    transform: translate(100%, -50%);

    label.menu-open img {
        transform: rotate(270deg);
    }
}

.menu {
    position: fixed;
    right: 0;
    top: 50vh;
    transform: translate(0, -50%);
    font-size: 1.8vh;
    padding: 1vh;
    border: 1px solid blue;
    border-right: 0;
    background-color: white;
    transition: transform .5s;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        width: .5vh;
        height: 4vh;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    label.menu-open {
        box-sizing: content-box;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        background-color: white;
        border: 1px solid blue;
        border-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: .5vh;
        border-top-left-radius: .5vh;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 4vh;
            transform: rotate(90deg);
            transition: transform .5s;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;

        .set-threshold {
            width: fit-content;
        }

        .fit {
            background-color: rgb(15, 201, 15);
            margin: .5vh 0;
            text-align: center;
            cursor: default;
            width: 90%;
            align-self: center;
            padding: .5vh;
            border-radius: 4px;

            &:hover {
                background-color: rgb(52, 250, 52);
            }
        }
    }
}

section.section {
    max-width: 60rem;
    margin: 0 auto;

    > h1 {
        text-align: center;
    }

    .how-to-use {

    }

    .applications {

        .img-comparison {
            display: flex;

            img {
                width: 50%;
            }
        }
    }
}