$touch_device: 968px;

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
    font-size: inherit;
    font-family: inherit;
}

.canvas-wrapper {
    display: flex;

    @media (max-width: $touch_device) {
        overflow-x: scroll;
    }

}

input#menu-open {
    display: none;
}

input#menu-open:checked~.menu {
    transform: translate(100%, -50%);

    label.menu-open img {
        transform: rotate(270deg);
    }
}

.menu {
    $border-color: rgb(7, 11, 255);

    position: fixed;
    right: 0;
    top: 50vh;
    transform: translate(0, -50%);
    font-size: 1.8vh;
    padding: 1vh;
    border: 1px solid $border-color;
    border-right: 0;
    background-color: white;
    transition: transform .5s;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        width: .5vh;
        height: 4vh;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    label.menu-open {
        box-sizing: content-box;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        background-color: white;
        border: 1px solid $border-color;
        border-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: .5vh;
        border-top-left-radius: .5vh;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 4vh;
            transform: rotate(90deg);
            transition: transform .5s;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;

        .set-threshold {
            width: fit-content;
        }

        .to-title {
            text-decoration: none;
            color: $border-color;
            font-weight: bold;
            text-align: center;
            margin: 1vh 0;

            &:hover {
                @media (min-width: $touch_device) {
                    text-decoration: underline;
                }
            }
        }

        .download-wrapper {
            display: flex;
            align-self: center;
            width: fit-content;
            padding: 0 .5vh;

            img {
                width: 3vh;
                margin-right: .5vh;
            }

            p {
                margin: .5vh;
            }

            &:hover {
                @media (min-width: $touch_device) {
                    box-shadow: 3px 0px 0px -1px $border-color, -3px 0px 0px -1px $border-color;
                }
            }
        }

        .flex-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .fit {
            margin: .75vh 0;
            text-align: center;
            cursor: pointer;
            width: fit-content;
            align-self: center;
            padding: .5vh;
            border-radius: 4px;
            box-shadow: 0px 2px 0px -1px $border-color;

            &:hover {
                @media (min-width: $touch_device) {
                    box-shadow: 0px 3px 0px -1px $border-color;
                }
            }
        }
    }
}

section.section {
    max-width: 60rem;
    margin: 4rem auto;
    padding: 0 1rem;

    >h1 {
        text-align: center;
    }

    ol {
        a {
            text-decoration: none;
            color: inherit;
            font-weight: bold;

            &:hover {
                @media (min-width: $touch_device) {
                    text-decoration: underline;
                }
            }
        }

        li {
            margin: .5rem 0;
        }
    }

    .applications {

        .img-comparison {
            display: flex;

            img {
                width: 50%;
            }
        }
    }

    .how-to-use {
        ul li {
            font-weight: bold;
        }
    }
}